
<div class="container-fluid">
  <div class="header">
    <h4 class="text-muted">b2at quick finder</h3>
    </div>

    <div class="row">
      <div class="col-md-8">
        <form class="form-inline" role="form" ng-control="MainController">
          <div class="input-group">
            <input type="text" class="form-control"
                ng-model="id" placeholder="CR/ER ###" ng-keyup="search()" ng-init"count = 0">
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit" ng-click="search()">Go!</button>
            </span>
          </div>
        </form>
      </div>
      <div class="col-md-4"></div>
    </div>
{{count}}

    <p/>

    <div class="jumbotron">
      <h3 class="text-left">{{cr.title}}</h3>
      <p></p>
      <blockquote>
        <p class="text-left">{{cr.description}}</p>
      </blockquote>
    </div>
  </div>

<div>
  <ul>
    <li ng-repeat="item in bucket">
      {{item.title}}
    </li>
  </ul>
</div>
