<div class="header">
<!--   <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul> -->
  <h3 class="text-muted">b2at quick finder</h3>
</div>

<div class="" ng-controller="CRController">
  <form class="form-inline" role="form">
     <div class="input-group">
      <input type="text" class="form-control" ng-model="id">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
    </div>
  </form>

  <span>{{id}}</span>
</div>
